RewriteEngine On

RewriteRule ^Beranda$						beranda.php [L]
RewriteRule ^Cara_Pinjam$					cara_pinjam.php [L]
RewriteRule ^Barang$						barang.php [L]
RewriteRule ^Data_Barang$					data_barang.php [L]
RewriteRule ^Kategori$						kategori.php [L]
RewriteRule ^Data_Kategori$					data_kategori.php [L]
RewriteRule ^Petugas$						petugas.php [L]
RewriteRule ^Data_Petugas$					data_petugas.php [L]
RewriteRule ^Karyawan$						karyawan.php [L]
RewriteRule ^Data_Karyawan$					data_karyawan.php [L]
RewriteRule ^Peminjaman$					peminjaman.php [L]
RewriteRule ^Data_Peminjaman$				data_peminjaman.php [L]
RewriteRule ^Pembuat$						pembuat.php [L]
RewriteRule ^Data_Pembuat$					data_pembuat.php [L]
RewriteRule ^Login$							login.php [L]
RewriteRule ^Cari_Barang$					cari_barang.php [L]
RewriteRule ^Edit_Barang$					edit_barang.php [L]
RewriteRule ^Edit_Kategori$					edit_kategori.php [L]
RewriteRule ^Cari_Kategori$					cari_kategori.php [L]
RewriteRule ^Edit_Petugas$					edit_petugas.php [L]
RewriteRule ^Cari_Petugas$					cari_petugas.php [L]
RewriteRule ^Edit_Karyawan$					edit_karyawan.php [L]
RewriteRule ^Cari_Karyawan$					cari_karyawan.php [L]
RewriteRule ^Edit_Peminjaman$				edit_peminjaman.php [L]
RewriteRule ^Cari_Peminjaman$				cari_peminjaman.php [L]
RewriteRule ^Edit_Pembuat$					edit_pembuat.php [L]
RewriteRule ^Cari_Pembuat$					cari_pembuat.php [L]
RewriteRule ^Detail_Peminjaman$				detail_peminjaman.php [L]			
RewriteRule ^Data_Detail$					data_detail.php [L]
RewriteRule ^Cari_Detail$					cari_detail.php [L]
RewriteRule ^Edit_Detail$					edit_detail.php [L]
RewriteRule ^Pengembalian$					pengembalian.php [L]
RewriteRule ^Cari_Pengembalian$				cari_pengembalian.php [L]
RewriteRule ^Data_Pengembalian$				data_pengembalian.php [L]
RewriteRule ^Cari_Kembali$					cari_kembali.php [L]
RewriteRule ^Profil$						profil.php [L]
Options All -Indexes